[MASTER]
ignore-patterns=.*\.venv[\\/]+Lib[\\/]+site-packages[\\/].*
ignore=.venv

[MESSAGES CONTROL]
disable=
    C0114,  ; missing-module-docstring
    C0115,  ; missing-class-docstring
    C0116,  ; missing-function-docstring
    R0903,  ; too-few-public-methods (utile pour les classes de service DAO)
    R0801,  ; duplicate-code
    W1203,  ; use f-string over format()
    W0613,  ; unused-argument (souvent dans callbacks FastAPI)
    line-too-long,  ; ignore long lines
    ungrouped-imports

[FORMAT]
max-line-length=100

[REPORTS]
output-format=colorized
reports=no
score=yes

[TYPECHECK]
ignored-modules=fastapi,sqlalchemy,pydantic,uvicorn

[DESIGN]
max-args=7
